/build/*
node_modules
*.node
*.sh
*.swp
.lock*
.idea
tests-settings-custom.*
npm-debug.log
build

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*

Edge.Tests.*
node.exe
Sample105.*

.DS_Store
*.sublime-project
*.sublime-workspace

adhoc/